.shopping-signin-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.sign-in {
    display: flex;
    justify-content: flex-end;
    width: 48px;
}

.shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    background-color: var(--brand-mid);
    width: 55px;
    height: 35px;
}

.shopping-cart img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.cartCount,
.shopping-cart img {
    margin: 4px;
    color: white;
}
