.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.left-side-nav-container {
    display: flex;
    min-width: 0;
    flex-shrink: 1;
}

.logo-title-container {
    display: flex;
    align-items: center;
    /*margin-left: 15px;*/
    min-width: 0;
    flex-shrink: 1;
}

.logo-title {
    object-fit: contain;
    width: 100px;
    min-width: 0;
    flex-shrink: 1;
}
.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-hamburger {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .nav-hamburger {
        display: block;
        position: relative;
        z-index: 102;
    }
}

.mobile-menu {
    position: fixed;
    inset: 0;
    background: var(--bg-tint);
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    will-change: transform;
}

.mobile-menu.open {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.mobile-menu .nav-link {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
}
